/*
Author: Nathan Foss
Class: CSCI 3601

Last Updated: 2/6/2019

 */

/*
Notable differences from the original style:

(you can search to find the example in the CSS... so you would search "1)" to find the first example.)

1) The style container no longer moves with scrolling, but is actually fixed at the top of the page. The hyperlinks are
also aligned to the right of the container.

2) The PSLOCourses container no longer flexes into a row, but stacks the PSLO and courses subcontainers, rather than
having them side-by-side. This was done by changing flex-direction from row to column.

3) The required courses are now listed in a completely different order (not inverse) using an order attribute for each
item within the list.

4) The two largest divs (Pslo-courses-container and faculty-container) now have solid backgrounds, which makes their
children containers (#PSLO/#courses and #faculty/#validation, respectively) appear to be paired together, rather than
separated.

5) Resizing for smaller screen was taken a couple steps further. There are four tiers of screen-width, and  the
 list item indentations (left-padding) are downsized to preserve the aesthetic of the page when the screen gets
 smaller (see the last 4 styles at the bottom of the page ).

Other notes: I've created styles specific to general containers, specific classes or IDs, as well as specific elements
within containers, classes, IDs, etc. There are also screen-width rules at the bottom.

*/



body {
  padding: 30px;
  color: #3abd08;
  background-image: url("https://github.com/UMM-CSci-3601-S19/lab-1-lab-1-html-and-css-2/blob/master/assets/carr2.JPG?raw=true");
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

/* grouping for background/text color */
#faculty-list, ol, #courses>ul {
  background:#469428;
  color: #d6d29c;
}

.pslo-courses-container, .faculty-container {
  background:#D75C24;
  color:#e2bd80;
}

#main-title {
  margin-top: 49px;
  font-family: monospace;
  text-decoration: underline;
  color: #308808;
}

/* 2) */
/* 4) */
.pslo-courses-container {
  border-radius:13px;
  padding:15px;
}

#courses>ul {
  display: flex;
  flex-direction: column;
}

/* 3) */
#ethical-and-social-implications {
  order:1;
}

#math-and-stats {
  order:2;
}

#introductory-sequence {
  order:3;
}

#data-structures {
  order:4;
}

#core-courses {
  order: 5;
}

#senior-seminar {
  order: 6;
}

#electives {
  order:7;
}

/* 4) */
.faculty-container {
  padding: 15px;
  margin-top: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#faculty-list {

  padding-left: 0;
  border-style: dashed;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* This tell's the flex items to wrap if there
                        isn't enough space for all of the items. Without this the
                        faculty images will be in a row and only resize well unitl around
                        550px width of screen. */
  justify-content: space-around;
  align-content: center;
}

#faculty-list>li {
  margin:15px;
}

.card-body {
  background: #469428;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: dashed;
}

.card-text>a, .card-text>li>a {
  color: #2f483e;
}

ol {
  list-style-type: upper-roman;
  border-style: dashed;
  padding: 20px;
}

ol li {
  margin-left: 10px;
  margin-bottom: 6px;

}

#courses>ul {
  padding: 20px;
  border: dashed;
}

/* 1) */
#style {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 55px;
  padding-top: 10px;
}

#style li a {
  color: #2f463a;
  display: block;
  font-family: monospace;
  font-size: large;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-align: center;
  text-decoration: underline;
}

.pic {
  width: 95%;
}

#style ul {
  justify-content: flex-end;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D75C24;
}

h2 {
  font-family: 'Lucida Console', Monospace;
}

/* 5) */
@media screen and (max-width: 400px) {
  #courses > ul > li > ul, .card-body > ul {
    padding-left: 25px;
  }

  #courses > ul > li > ul > li > ul {
    padding-left: 15px;
  }

  #style>ul>li>a {
    font-size: medium;
  }
}

/* 5) */
@media screen and (max-width: 352px) {
  body {
    font-size:smaller;
  }
}

/* 5) */
@media screen and (max-width: 315px) {
  #style>ul>li>a {
    font-size: small;
  }
  .card-body>ul {
    padding-left: 15px;
  }
}

/* 5) */
@media screen and (max-width: 250px) {
  body, #style>ul>li>a {
    font-size: x-small;
  }

  #courses > ul > li > ul, .card-body>ul {
    padding-left: 15px;
  }

  #courses > ul > li > ul > li > ul {
    padding-left: 7px;
  }

}




