/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body {
  padding: 30px;
  color: #3abd08;
  background-image: url("carr2.jpg");
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

#main-title {
  margin-top: 50px;
  font-family: monospace;
}

.pslo-courses-container {
  background:#D75C24;
  color:#e2bd80;
  border-radius:12px;
  padding:15px;
}

#courses>ul {
  display: flex;
  flex-direction: column;
}

#ethical-and-social-implications {
  order:1;
}

#math-and-stats {
  order:2;
}

#introductory-sequence {
  order:3;
}

#data-structures {
  order:4;
}

#core-courses {
  order: 5;
}

#senior-seminar {
  order: 6;
}

#electives {
  order:7;
}

.faculty-container {
  padding: 15px;
  background:#D75C24;
  color:#e2bd80;
  margin-top: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#faculty-list {
  background:#469428;
  color: #d6d29c;
  padding-left: 0;
  border-style: dashed;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* This tell's the flex items to wrap if there
                        isn't enough space for all of the items. Without this the
                        faculty images will be in a row and only resize well unitl around
                        550px width of screen. */
  justify-content: space-around;
  align-content: center;
}

#faculty-list>li {
  margin:15px;
}

.card-body {
  background: #469428;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: dashed;
}

.card-text>a {
  color: #2f483e;
}

.card-text>li>a {
  color: #2f483e;
}

ol {
  background: #469428;
  color: #d6d29c;
  list-style-type: upper-roman;
  border-style: dashed;
  padding: 20px;
}

ol li {
  margin-left: 10px;
  margin-bottom: 6px;

}

#courses>ul {
  background: #469428;
  color: #d6d29c;
  padding: 20px;
  border: dashed;
}

#style {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 55px;
  padding-top: 10px;
}

#style li a {
  color: #2f463a;
  display: block;
  font-family: monospace;
  font-size: large;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-align: center;
  text-decoration: underline;
}



.pic {
  width: 95%;
}




#style ul {
  justify-content: flex-end;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D75C24;
}

h2 {
  font-family: 'Lucida Console', Monospace;
}


